/* General table styling */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px solid black;
  font-size: 18px;
  text-align: center;
}

/* Table header styling */
.table thead th {
  background-color: grey;
  border-color: black;
  border: 2px solid;
  color: black;
  text-align: center;
  padding: 10px;
}

/* Table body styling */
.table tbody tr {
  border: 2px solid black;
}

.table tbody tr:nth-of-type(even) {
  background-color: lightgray;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

td {
  border: 2px solid black;
}

/* Hover effect */
.table tbody tr:hover {
  background-color: grey;
}

/* Cell padding */
.table th, .table td {
  padding: 12px 15px;
}
